div {
    width: 400px;
    height: 400px;
    border: 1px solid #000000;
    background: url(img/watermelon.jpg) no-repeat;
}
#bg_1 {
    background-size: auto;
}
/* 크기가(고정) 축소되어 보임 */
#bg_2 {
    background-size: 300px;
}
/* 크기가(가변) 축소되어 보임 */
#bg_3 {
    background-size: 90%;
    background-position: bottom left;
}
/* 이미지가 비율대로 축소되어 보임 */
#bg_4 {
    background-size: contain;
}
/* 이미지를 박스 크기만큼 꽉 채우고 나머지는 잘림 */
#bg_5 {
    background-size: cover;
}
