h2 {
    /* color: red;
    color: #ff0000; */
    color: rgb(255,0,0);
}
#p1 {
    background-color: antiquewhite;
}
#p2 {
    font-family:'Times New Roman', Times, serif;
    line-height: 1.5;
}
.coffee {
    font-weight: 700;
}