* {
    padding: 0px;
    margin: 0px;
}
#container {
    width: 1000px;
    height: 800px;
    margin: 20px auto;
}
h2 {
    text-align: center;
}
form {
    width: 500px;
    border: 1px solid #333;
    margin: 40px auto;
}
ul {
    padding-left: 40px;
}
ul li {
    list-style: none;
    margin: 16px 10px;
}