#container {
    width: 1000px;
    margin: 0 auto;
}
form {
    width: 400px;
    margin: 0 auto;
}
fieldset {
    margin-bottom: 10px;
}
ul li {
    list-style: none;
    margin-bottom: 10px;
}
ul li label {
    width: 70px;
    float: left;
}
ul li input {
    width: 140px;
    height: 20px;
}
ul li select {
    width: 150px;
    height: 25px;
}
button {
    padding: 5px;
    cursor: pointer;
}